<!DOCTYPE html>
<html>
<head>
    <title>Welcome to DigitizingPlus</title>
</head>
<body>
    <h3>Welcome to <h1>Digitizing Plus</h1></h3>
    <h2>Dear {{ user.first_name }} {{ user.last_name }}</h2>
    <p>Thank you very much for registering with Digitizing Plus.</p>

    <p>We look forword to do business with you.</p>
    
    <p>Your Registration information</p>
    <ul>
        <li><strong>Login ID:</strong> {{ user.user_id }}</li>
        <li><strong>Password:</strong> {{ raw_password }}</li>
    </ul>
    
    <p>Please contact us with any of your questions or concerns.</p>
    
    <p>Best regards,</p>
    <br>
    <p><strong>Digitizing Plus Team</strong></p>
    <p><strong>digitizingpluss@gmail.com</strong></p>
</body>
</html>