{% extends "frontend/base.html" %}
{% load static %}

{% block css %}

{% endblock css %}


{% block content %}
<!-- Contact Area -->


<div class="row mt-3 mb-3">
    <div class="col-md-8">
      <div class="card shadow-5-strong">
        <div class="card-body p-5">
          <!-- Card Title -->
          <h3 class="card-title text-center mb-4" style="font-size: 30px; letter-spacing: 1px;">Contact Us</h3>

          <!-- Form -->
          <form>
            <!-- 2-column grid layout for first and last name -->
            <div class="row mb-4">
              <div class="col">
                <div data-mdb-input-init class="form-outline">
                  <input type="text" id="firstName" class="form-control" required/>
                  <label class="form-label" for="firstName">First Name</label>
                </div>
              </div>
              <div class="col">
                <div data-mdb-input-init class="form-outline">
                  <input type="text" id="lastName" class="form-control"  required/>
                  <label class="form-label" for="lastName">Last Name</label>
                </div>
              </div>
            </div>

            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" id="email" class="form-control"   required/>
              <label class="form-label" for="email">Email Address</label>
            </div>

            <!-- Phone number input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="text" id="phone" class="form-control"   required/>
              <label class="form-label" for="phone">Phone Number</label>
            </div>

            <!-- Message input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <textarea class="form-control" id="message" rows="4"  required></textarea>
              <label class="form-label" for="message">Message</label>
            </div>

            <!-- Submit button -->
            <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-3">
        <div class="card-body">
          <!-- Card Title -->
          <h3 class="card-title text-center mb-4" style="font-size: 30px; letter-spacing: 1px; border-bottom: 1px solid black; padding-bottom: 10px;">
            Our Address
          </h3>

          <!-- Address Details -->
          <dl class="mt-3">
            <dt class="fw-bold">Address:</dt>
            <dd>P.O Box #2614 Ashburn, VA 20146, United States.</dd>

            <dt class="fw-bold mt-3">Email:</dt>
            <dd>info@digitizingplus.com</dd>

            <dt class="fw-bold mt-3">Toll Free:</dt>
            <dd>800-643-2738</dd>

            <dt class="fw-bold mt-3">Support:</dt>
            <dd>703-879-2334</dd>
            <dd>703-822-7345</dd>

            <dt class="fw-bold mt-3">WhatsApp:</dt>
            <dd>+1-234-567-890</dd>
          </dl>
        </div>
      </div>
    </div>
        
      
</div>
              


{% endblock content %}