{% extends "frontend/base.html" %}
{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static "css/style.css" %}">
{% endblock css %}


{% block content %}
    <div>
        <h2 class="text-center mt-5 mb-5">Digitizing Plus Features</h2>
    </div>
    <div class="row mb-5">
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div id="foul" data-aos="zoom-in-down" class="card">
                    <div id="adv1">
                        <img style="height: 50px;" src="{% static "images/Free-Quote.png" %}" alt="">
                    </div>
                    <div class="container">
                        <h2 id="hhh">Free Quotes</h2>
                        <h6 id="hh">Free quotes provided along with a Digital Sew out with estimated stitch count, this
                            helps to provide your customers an estimated price.</h6>

                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div id="foul" data-aos="zoom-in-down" class="card">

                    <div id="adv1">
                        <img style="height: 50px;" src="{% static "images/moneyback.png" %}" alt="">
                    </div>
                    <div class="container">
                        <h2 id="hhh">Quality with MONEY BACK Guarantee</h2>
                        <h6 id="hh">We provide 100% Money Back Guarantee to all our customers. If customer do not like
                            the digitized / vector files we will not charge a single penny.</h6>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div id="foul" data-aos="zoom-in-down" class="card">

                    <div id="adv1">
                        <img style="height: 50px;" src="{% static "images/turnaround.png" %}" alt="">
                    </div>

                    <div class="container">
                        <h2 id="hhh">6 to 10 Hours Turnaround Time</h2>

                        <h6 id="hhhh">Our regular turnaround time is 6 to 10 hours. If you provide something before noon
                            time it will be delivered same day. If something provided after lunch it will be delivered
                            Next Morning. No Charges for Rush Jobs, we can deliver within 2 to 4 hours.</h6>
                    </div>

                </div>
            </div>





            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div id="foul" data-aos="zoom-in-down" class="card">
                    <div id="adv1">
                        <img style="height: 50px;" src="{% static "images/work-experience.png" %}" alt="">
                    </div>
                    <div class="container">
                        <h2 id="hhh">Most Experience Digitizers</h2>
                        <h6 id="hh">We have 50+ most experienced in-house digitizers working for our company since last
                            10years. Our quality speaks if you work with us.</h6>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div id="foul" data-aos="zoom-in-down" class="card">

                    <div id="adv1">
                        <img style="height: 50px;" src="{% static "images/formats.png" %}" alt="">
                    </div>

                    <div class="container">
                        <h2 id="hhh">All Machine Formats Available</h2>
                        <h6 id="hhhh">We are working on the latest Wilcom software, we can provide any converted format
                            for your machine such as EMB, DST, EXP, CND, POF, OFM, DAT, VAP,SAS, DSB,DSZ, TAP,XXX, JEF,
                            HUS, PES, PEC ...</h6>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div id="foul" data-aos="zoom-in-down" class="card">

                    <div id="adv1">
                        <img style="height: 50px;" src="{% static "images/sew.png" %}" alt="">
                    </div>

                    <div class="container">
                        <h2 id="hhh">Original Sew-Out with Quality Assurance</h2>

                        <h6 id="hh">We provide original sew out along with every digitized file, this helps to minimize
                            the chances of revisions and minor errors.</h6>
                    </div>

                </div>
            </div>
        </div>
{% endblock content %}