<footer class="bg-body-tertiary text-center mt-1" style="background-color: maroon; color: white;">

  <!-- Grid container -->
  <div class="p-1">
    <form action="">
      <!--Grid row-->
      <div class="row d-flex justify-content-between align-items-center">
        <!-- Social Links - Left Side -->
        <div class="col-auto">
          <a href="{{ company_info.instagram }}" style="color: white; margin-right: 15px; padding-left: 30px;" target="_blank">
            <i class="fab fa-instagram"></i> Instagram
          </a>
          <a href="{{ company_info.facebook }}" style="color: white;" target="_blank">
            <i class="fab fa-facebook"></i> Facebook
          </a>
        </div>

        <!-- Center Links -->
        <div class="col-auto">
          <div class="d-flex">
            <div class="mx-3">
              <strong><a href="{% url 'web:faqs' %}" style="color: white">FAQs</a></strong>
            </div>
            <div class="mx-3">
              <strong><a href="{% url 'web:privacy' %}" style="color: white">Privacy Policy</a></strong>
            </div>
            <div class="mx-3">
              <strong><a href="{% url 'web:terms' %}" style="color: white">Terms & Conditions</a></strong>
            </div>
          </div>
        </div>

        <!-- Social Links - Right Side -->
        <div class="col-auto">
          <a href="{{ company_info.twitter }}" style="color: white; margin-right: 15px;" target="_blank">
            <i class="fab fa-twitter"></i> Twitter
          </a>
          <a href="{{ company_info.tiktok }}" style="color: white; padding-right: 30px;" target="_blank">
            <i class="fab fa-tiktok"></i> TikTok
          </a>
        </div>
      </div>
      <!--Grid row-->
    </form>
  </div>
  <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center">
      © 2025 Copyright Digitizing Plus
    </div>
    <!-- Copyright -->
</footer>