<footer class="bg-body-tertiary text-center mt-1" style="background-color: maroon; color: white;">

  <!-- Grid container -->
  <div class="p-1">
    <form action="">
      <!--Grid row-->
      <div class="row d-flex justify-content-center">
        <!--Grid column-->
        <div class="col-auto mb-1 mb-md-0">
          <p>
            <strong><a href="#" style="color: white">FAQs</a></strong>
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-auto mb-1 mb-md-0">
          <p>
            <strong><a href="#" style="color: white">Privacy Policy</a></strong>
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-auto mb-1 mb-md-0">
          <p>
            <strong><a href="#" style="color: white">Terms & Conditions</a></strong>
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </form>
  </div>
  <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center">
      © 2025 Copyright Digitizing Plus
    </div>
    <!-- Copyright -->
</footer>