{% extends "frontend/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href={% static "css/index.css" %}>
{% endblock css %}

{% block content %}

{% include "frontend/hero.html" %}

<div class="row mt-2 mb-2">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">This is some text within a card body.</div>
        </div>  
    </div>
    <div class="col-md-4">
        <div class="card">
            <h4 class="card-header text-center">Login</h4>
            <div class="card-body">
                <form>
                <!-- Email input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="form1Example1" class="form-control" />
                    <label class="form-label" for="form1Example1">Email address</label>
                </div>

                <!-- Password input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" id="form1Example2" class="form-control" />
                    <label class="form-label" for="form1Example2">Password</label>
                </div>

                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                    <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                        <label class="form-check-label" for="form1Example3"> Remember me </label>
                    </div>
                    </div>

                    <div class="col">
                    <!-- Simple link -->
                    <a href="#!">Forgot password?</a>
                    </div>
                </div>

                <!-- Submit button -->
                <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">Sign in</button>
                <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}