{% extends "frontend/base.html" %}

{% block content %}

<div class="row mt-3 mb-4">
    <div class="col-md-8">
        {% comment %} <div class="card">
            <h4 class="card-header text-center">Digitizing</h4>
            <div class="card-body">
                <ul class="list-group list-group-light">
                    <li class="list-group-item">Logo Flat Digitizing</li>
                    <li class="list-group-item">Applique & Tackle Twill Digitizing</li>
                    <li class="list-group-item">3D Puff Digitizing</li>
                    <li class="list-group-item">Chenille Digitizing</li>
                    <li class="list-group-item">Cap & Small Text Digitizing</li>
                    <li class="list-group-item">Experienced designers</li>
                </ul>
            </div>
        </div> {% endcomment %}

        <h3>Not Sure What goes here.</h3>
    </div>


    <div class="col-md-4">
        <div class="card">
            <h4 class="card-header text-center">Key Points</h4>
            <div class="card-body">
                <ul class="list-group list-group-light">
                    <li class="list-group-item">No Minimum</li>
                    <li class="list-group-item">Sample $20</li>
                    <li class="list-group-item">Free Shipping</li>
                    <li class="list-group-item">Multi Arts, Multi Colors Options Available</li>
                    <li class="list-group-item"><strong>For pricing share art, mention size and number of pieces to get price quote</strong></li>

                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock content %}