{% extends "frontend/base.html" %}
{% load static %}

{% block css %}

{% endblock css %}


{% block content %}
<center>
<div class="mt-2">
<h3>PRICING</h3>
<span>For pricing inquiry feel free to call us on our TOLL FREE <strong>800-643-2738</strong> or <strong>703-879-2334</strong></span>
<br>
<span><strong>Rush Order:</strong> 4 hours Turnaround Time (Depends upon the complexity).</span>
<br>
<span>Special discount package available for Corporate clients.</span>
</div>
</center>

 <div class="">
    <div class="row mt-3 mb-2">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-header">$25</div>
                    <div class="card-body">
                        <h5 class="card-title">LEFT CHEST / CAP</h5>
                        <p class="card-text">Flat Fee Minimum $25</p>
                        <img src="https://www.topstardigitizing.com/assets2/img/01.png" height=250 class="" alt="Sunset Over the Sea"/>
                        <p class="card-text mt-2">Revision/Edits/Color Chages <strong style="color:red;">Free</strong></p>
                        
                    </div>
                <div class="card-footer"><a href="#" class="btn btn-primary btn-block" data-mdb-ripple-init>Register Now</a></div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-header">Max $200</div>
                    <div class="card-body">
                        <h5 class="card-title">LEFT CHEST / CAP</h5>
                        <p class="card-text">Flat Fee Minimum $25</p>
                        <img src="https://www.topstardigitizing.com/assets2/img/02.png" height=250 alt="Sunset Over the Sea"/>
                        <p class="card-text mt-2">Revision/Edits/Color Chages <strong style="color:red;">Free</strong></p>
                        
                    </div>
                <div class="card-footer"><a href="#" class="btn btn-primary btn-block" data-mdb-ripple-init>Register Now</a></div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-header">$30-$100</div>
                    <div class="card-body">
                        <h5 class="card-title">LEFT CHEST / CAP</h5>
                        <p class="card-text">Flat Fee Minimum $25</p>
                        <img src="https://www.topstardigitizing.com/assets2/img/03.png" height=250 alt="Sunset Over the Sea"/>
                        <p class="card-text mt-2">Color Seperation <strong style="color:red;">Free</strong></p>
                        
                    </div>
                <div class="card-footer"><a href="#" class="btn btn-primary btn-block" data-mdb-ripple-init>Register Now</a></div>
            </div>
        </div>


    </div>
 </div>
{% endblock content %}