{% extends "frontend/base.html" %}

{% block content %}

<style>
.bg-image {
    background-image: url('https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp');
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
</style>

<div class="row mt-3 mb-4">
    <div class="col-md-4">
        <div class="card">
            <h4 class="card-header text-center">Digitizing</h4>
            <div class="card-body">
                <ul class="list-group list-group-light">
                    <li class="list-group-item">Logo Flat Digitizing</li>
                    <li class="list-group-item">Applique & Tackle Twill Digitizing</li>
                    <li class="list-group-item">3D Puff Digitizing</li>
                    <li class="list-group-item">Chenille Digitizing</li>
                    <li class="list-group-item">Cap & Small Text Digitizing</li>
                    <li class="list-group-item">Experienced designers</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4"></div>


    <div class="col-md-4">
        <div class="card">
            <h4 class="card-header text-center">Vector</h4>
            <div class="card-body">
                <ul class="list-group list-group-light">
                    <li class="list-group-item">Raster To Vector</li>
                    <li class="list-group-item">Line Art</li>
                    <li class="list-group-item">Silhouette</li>
                    <li class="list-group-item">Color Separation</li>

                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock content %}