{% extends "users/admin/base.html" %}
{% load static %}

{% block content %}



<style>
    .full-width-section {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
    .centered-row {
        max-width: 98vw;  /* Slightly less than full viewport width */
        margin: 0 auto;   /* Center the row */
        padding: 0 15px;  /* Add small side gaps */
    }

    .table-maroon {
        background-color: maroon;
        color: white;
      }
      
      .table-maroon th {
        border-bottom: 1px solid maroon;
      }
</style>


<div class="full-width-section">


    <div class="row mt-5 shadow-sm bg-body rounded centered-row">
        <div class="col-md-12">
            <p class="text-end pe-3"><a href="{% url "users:admin-invoice-list" %}" class="text-decoration-none">Find Invoice</a></p>
        </div>
    </div>

    <div class="row mt-5 shadow-sm bg-body rounded centered-row">
        <div class="col border-end py-2">
            <p class="text-center m-0"><a href="{% url "users:admin-paid-invoices" %}" class="text-decoration-none">PAID INVOICE</a></p>
        </div>
    
        <div class="col border-end py-2">
            <p class="text-center m-0"><a href="{% url "users:admin-unpaid-invoices" %}" class="text-decoration-none">UNPAID INVOICE</a></p>
        </div>
    
        <div class="col border-end py-2">
            <p class="text-center m-0"><a href="#" class="text-decoration-none">RECEIVABLE ORDERS</a></p>
        </div>
    
        <div class="col border-end py-2">
            <p class="text-center m-0"><a href="#" class="text-decoration-none">RECEIVABLE PATCHES</a></p>
        </div>
    
    </div>




    <div class="row mt-3 rounded centered-row">
        <h3>CUSTOMER WITH ????</h3>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-hover">
                  <thead class="table-maroon">
                    <tr>
                      <th scope="col" class="text-center">S#</th>

                      <th scope="col" class="text-center">ID</th>
                      <th scope="col" class="text-center">Customer Name</th>
                      <th scope="col" class="text-center">Dues</th>
                      <th scope="col" class="text-center">Send Invoice</th>
                      <th scope="col" class="text-center">Last Paid</th>
                      <th scope="col" class="text-center">Last Invoice</th>
                      <th scope="col" class="text-center">CC Type</th>
                      <th scope="col" class="text-center">Status</th>
                      <th scope="col" class="text-center">Status Date</th>
                      <th scope="col" class="text-center">Country</th>
                      
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in data %}
                      {% with u=item.user %}
                      <tr>
                        <td scope="row" class="text-center">{{ forloop.counter }}</td>
                        <td class="text-center">{{ u.id }}  <a href="{% url 'users:admin-user-detail' pk=u.id %}" class="text-decoration-none">
                          <i class="fa-regular fa-square-caret-right"></i>
                          </a>
                        </td>
                        <td>{{ u.first_name }} {{ u.last_name }}
                          <a href="" class="text-decoration-none">
                          <i class="fa-regular fa-square-caret-right"></i>
                          </a>
                        </td>

                        <td class="text-center">${{ item.dues|floatformat:2 }}</td>

                        <td class="text-center">
                          <a class="btn btn-sm btn-success" href="{% url "users:admin-customer-unpaid-invoices" u.id %}">Send Invoice</a>
                        </td>

                        <td class="text-center">
                          {{ item.last_payment_date|date:"M d, Y" }}
                        </td>

                        <td class="text-center">
                          {{ item.last_invoice_date|date:"M d, Y" }}
                        </td>

                        <td class="text-center">
                          <a class="btn btn-sm btn-success" href="{% url "users:admin-add-card" u.id %}">Add Card</a>
                        </td>

                        <td class="text-center">
                          {{ item.last_invoice_status|capfirst }}
                        </td>

                        <td class="text-center">
                          {{ item.last_status_date|date:"M d, Y" }}
                        </td>

                        <td class="text-center">
                          {{ u.country }}
                        </td>
                      </tr>
                      {% endwith %}
                    {% endfor %}
                  </tbody>

                </table>
              </div>
        </div>
    </div>

</div>


{% endblock content %}

