{% extends "users/admin/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    .nav-tabs .nav-link {
        color: #000;
        background-color: rgba(79, 13, 165, 0.57);
        border-color: #dee2e6 #dee2e6 #fff;
    }
    .nav-tabs .nav-link.active {
        color: #000;
        background-color: #fff;
        border-color: #dee2e6 #dee2e6 #fff;
    }
</style>

<h3 class="text-center mt-3 mb-2">DIGITIZING ORDER #{{ order.order_number }} | DATE: {{ order.created_at|date:"m-d-Y" }} | {{ order.status|upper }}</h3>

<div class="row mt-5">
    <div class="col-md-8">
        <ul class="nav nav-tabs" id="orderTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="given-tab" data-bs-toggle="tab" data-bs-target="#given" type="button" role="tab" aria-controls="given" aria-selected="true">
                    Given Info
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="final-tab" data-bs-toggle="tab" data-bs-target="#final" type="button" role="tab" aria-controls="final" aria-selected="false">
                    Final Info
                </button>
            </li>
        </ul>

        <div class="tab-content" id="orderTabsContent">
            <!-- Given Tab -->
            <div class="tab-pane fade show active mt-1" id="given" role="tabpanel" aria-labelledby="given-tab">
                <form action="" method="post" enctype="multipart/form-data" class="mt-3">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="given-info">

                    <div class="row">
                        <div class="col-md-6">                        
                            <div class="input-group mb-3">
                                <span class="input-group-text">Design Name</span>
                                {{ form.design_name }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text">P.O #</span>
                                {{ form.po_number }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Width</span>
                                {{ form.width }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Height</span>
                                {{ form.height }}
                            </div>
                        </div>
                        <div class="col-md-4">                        
                            <div class="input-group mb-3">
                                <span class="input-group-text">Colors</span>
                                {{ form.colors }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">                        
                            <div class="input-group mb-3">
                                <span class="input-group-text">Placement</span>
                                {{ form.placement }}
                            </div>
                        </div>
                        <div class="col-md-6">                        
                            <div class="input-group mb-3">
                                <span class="input-group-text">Fabric Type</span>
                                {{ form.fabric_type }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row bg-light py-3">
                        <div class="col-md-6">                        
                            <div class="input-group mb-3">
                                <span class="input-group-text">Price</span>
                                {{ form.price_option_a }}
                            </div>
                        </div>
                        <div class="col-md-6">                        
                            <div class="input-group mb-3">
                                <span class="input-group-text">Total Price</span>
                                {{ form.total_price }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Update</button>
                </form>
            </div>

            <!-- Final Tab -->
            <div class="tab-pane fade mt-5" id="final" role="tabpanel" aria-labelledby="final-tab">            
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <h3>DIGITIZING DETAILS</h3>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Width</span>
                                {{ final_form.width_a }}
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Height</span>
                                {{ final_form.height_a }}
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Stitches</span>
                                {{ final_form.stitches_a }}
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text">Price</span>
                                {{ final_form.price_a }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Total Price</span>
                            {{ final_form.total_price }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Comments</span>
                            {{ final_form.comments }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-block">Release</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4">        
        <div class="card mb-3">
            <div class="card-header">
              Customer Instructions
            </div>
            <div class="card-body">
                <p class="card-text">{{ order.instructions|default:"No instructions provided" }}</p>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
            Admin Instructions
            </div>
            <div class="card-body">
                <p class="card-text">{{ order.instructions|default:"No instructions provided" }}</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
              Customer Information
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Name: </strong>{{ user.get_full_name }}</li>
                    <li class="list-group-item"><strong>Email: </strong>{{ user.email }}</li>
                    <li class="list-group-item"><strong>Phone: </strong>{{ user.phone_number|default:"Not provided" }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const priceA = document.getElementById('id_price_option_a');
        const total = document.getElementById('id_total_price');
        
        function calculateTotal() {
            const a = parseFloat(priceA.value) || 0;
            total.value = a.toFixed(2);
        }
        
        priceA.addEventListener('change', calculateTotal);
    });
</script>
{% endblock content %}