{% extends "users/admin/base.html" %}
{% load static %}

{% block content %}




    <!-- Custom CSS for Inactive Tabs -->
    <h1 class="text-center mb-3">Invoice List</h1>

    <div class="container-fluid mt-5">
        <!-- Invoice Table -->
        <table id="invoiceTable" class="table table-striped" style="width:100%">
            <thead>
                <tr> 
                    <th class="text-center">S#</th>
                    <th class="text-center">Invoice #</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Customer</th>
                    <th class="text-center">Order Type</th>                    
                    <th class="text-center">Status</th>
                    <th class="text-center">Details</th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in invoices %}
                    <tr>
                        <td class="text-center">{{forloop.counter}}</td>
                        <td class="text-center">{{ invoice.invoice_number }}</td>
                        <td class="text-center">{{ invoice.date }}</td>
                        <td class="text-center">{{ invoice.customer.first_name }} {{ invoice.customer.last_name }}</td>
                        <td class="text-center">
                            {% if invoice.digitizing_order %}
                                Digitizing
                            {% endif %}
                            {% if invoice.vector_order %}
                                Vector
                            {% endif %}
                            {% if invoice.patch_order %}
                                Patch
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            {{ invoice.status|capfirst }}
                        </td>
                        <td class="align-middle"><a class="btn btn-secondary w-100" href="{% url "users:admin-invoice-detail" invoice.id %}">Details</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>



<!-- Initialize DataTables -->
<script>
    $(document).ready(function() {
        $('#invoiceTable').DataTable({
            "paging": true,          // Enable pagination
            "searching": true,       // Enable search
            "ordering": true,        // Enable sorting
            "order": [[2, 'asc']],  // Default sort by the date column in descending order
            "pageLength": 25,        // Show 10 rows per page
            "lengthMenu": [10, 25, 50, 100],  // Dropdown for rows per page
        });
    });
</script>




{% endblock content %}